* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  line-height: 1.7;
  font-family: var(--body-font);
}

.root {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 2em 0;
  width: 100vw;
}

.container {
  display: grid;
  height: min-content;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  overflow: auto;
  position: relative;
  gap: 4em;
  padding: 2em;
  width: fit-content;
}

.prompt-container {
  display: grid;
  gap: 1em;
  width: 100%;
}

.output-container {
  display: grid;
  gap: 1rem;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 1rem;
  max-width: 75ch;
  background: #f0f0f0;
  color: #000;
}

.header {
  display: grid;
  gap: 1em;
  color: #fff;
  padding: 1em;
}

.header-title h1 {
  font-size: clamp(1.5rem, 3rem, 5rem);
  line-height: 1.1em;
  margin: 0;
}

.header-subtitle h2 {
  font-size: clamp(1.1rem, 1.25rem, 1.7rem);
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.75);
}

.prompt-box {
  width: 100%;
  border: solid 1px rgba(255, 255, 255, 0.3);
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 1em;
  position: relative;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.6;
  text-align: start;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: none;
  max-width: 75ch;
}

textarea {
  font-family: var(--heading-font);
}

.prompt-box:focus {
  border-color: rgba(255, 255, 255, 0.75);
}

.prompt-buttons {
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 100%;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.reading-time {
  color: #fff;
  opacity: 0.5;
  padding-left: 10px;
}

.key-stroke {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.key-stroke p {
  color: rgba(255, 255, 255, 0.75);
  flex: 0 0 auto;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto;
}

.or {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.or p {
  color: rgba(255, 255, 255, 0.25);
}

.generate-button {
  background-color: rgb(255, 79, 18);
  border-radius: 100px;
  height: min-content;
  overflow: hidden;
  padding: 0.5rem 2rem;
  width: max-content;
  will-change: transform;
  cursor: pointer;

  font-family: var(--heading-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.generate {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
}

.generate p {
  color: rgb(255, 255, 255);
  margin: 0;
}

.loading {
  opacity: 0.7;
  cursor: default;
}

.badge-container {
  display: flex;
  bottom: 20px;
  flex: 0 0 auto;
  height: auto;
  left: 20px;
  position: fixed;
  width: auto;
  z-index: 1;
}

.badge-container a {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  background-color: rgb(0, 0, 0);
  border-radius: 54.3478% / 238.095%;
  filter: grayscale(1);
  transform: none;
  transform-origin: 50% 50% 0px;
  font-size: 14px;
  line-height: 1em;
  color: #fff;
  padding: 12px;
  text-decoration: none;
}

.badge {
  display: flex;
  align-items: center;
}

.badge img {
  width: 21px;
  height: 17px;
  image-rendering: pixelated;
  flex-shrink: 0;
  fill: black;
  color: black;
  transform: none;
  transform-origin: 50% 50% 0px;
  padding-right: 5px;
}

.badge p {
  margin: 0;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.output-header {
  font-size: 1.5rem;
}

.output-content {
  outline: none;
  width: 100%;
}

.output-content p {
  white-space: pre-line;
  opacity: 0.7;
}

/* Loading ring animation */
.loader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.code-container {
  position: relative;
}

.code-container > div {
  padding-top: calc(1em + 20px) !important;
}

.copy-button {
  border: none;
  background-color: transparent;
  height: 20px;
  aspect-ratio: 1/1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 512 512'%3E%3Cpath d='M224 0c-35.3 0-64 28.7-64 64v224c0 35.3 28.7 64 64 64h224c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64v224c0 35.3 28.7 64 64 64h224c35.3 0 64-28.7 64-64v-64h-64v64H64V224h64v-64H64z'/%3E%3C/svg%3E");

  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
}
